body{
	background-color: #f9f9f9;
	color: #4a4a4a;
	font-family: 'Assistant', sans-serif;
	text-align: center;
	font-size: 175%;
}
h1{
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	margin: 20px 0;
}
#hero-block{
	height: 100vh;
	display: block;
	position: relative;
}

#video-background {
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;
	height: 100%;
}
#logo{
	color: #dab37a;
	font-size: 125%;
	border: 1px solid darkgrey;
	background-color: rgba(21, 21, 21, 0.6);
	transition: background-color 0.4s;
	cursor: pointer;
}
#logo:hover{
	background-color: rgba(51, 71, 71, 1);
}
.title{
	color: white;
	position: relative;
	text-align: center;
	width: 90%;
	border-radius: 2px;
	display: block;
	margin: 0 auto;
	margin-top: 22%;
}
.menu{
	color: #cecbc6;
	position: absolute;
	top: 1%;
	padding: 0 1%;
	width: 100%;
}
.menu-button{
	position: relative;
	height: 50px;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	line-height: 50px; 
	background-color: rgba(21, 21, 21, 1);
	transition: background-color 0.4s;
	cursor: pointer;
}
.menu-button:hover{
	color: white;
	background-color: rgba(51, 71, 71, 1);
}
.course-info{
	margin-top: 5%;
	color: white;
}
#project{
	
}
#team{
	width: 100%;
	display: block;
	border: 1px solid green;
	margin-top: 5%;
}
#team h1{
	margin-top: 0;
	margin-bottom: 5%;
}
.team-member{
	padding: 2%;
	border: 1px solid #c5c4c4;
	border-radius: 3px;
	height: 350px;
	margin: 1% 5%;;	
	max-width: 300px;
}

.profile-pic{
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background: url("../assets/img/kevin.png");
	background-size: cover;
}
.profile-name{
	height: 150px;
}	
